html {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0;
}

html > body > * {
    padding: 20px;
}

header {
    position: sticky;
    top: 0;
    padding: 10px !important;
    background-color: cadetblue;
    font-size: 20px;
    font-family: "Georgia", "Times New Roman", serif;
    z-index: 1;
}

h1 {
    padding: 0 !important;
    padding-left: 50px !important;
}

a {
    padding-right: 20px;
    color: black;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

#catalogue {
    background-color: rgb(220, 255, 245);
}

#catalogue table {
    border-collapse: separate;
    border-spacing: 20px 54px;
}

.catalogue-item {
    position: relative;
    padding: 0;
    border: 2px black solid;
}

.catalogue-item h3 {
    background-color: white;
    margin: 0;
    padding: 5px;

    border: 2px black solid;
    border-top: transparent;

    position: absolute;
    top: 200px;
    left: -2px;
    right: -2px;
}

#placeholder {
    font-size: 40px;
}