{% assign home_page = site.pages | find: "perma_id", "home_page" %}

<header>
    <nav id="header__main-nav">
        <a href="{{ site.baseurl }}{{ home_page.url }}" id="header__home-link">{{ site.title }}</a>
        {% for page in site.pages %}

            {% assign url_segments = page.url | replace: "/", " " | strip | split: " " %}

            <!-- url_segments = {{ url_segments | inspect }} -->

            {% if url_segments.size == 1 %}
                <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
            {% endif %}
        {% endfor %}
    </nav>
    <nav id="header__breadcrumbs">
        <p>You are here:</p>
        <ul class="breadcrumbs__crumbcontainer">
            <!-- page.url = {{ page.url | inspect }} -->

            {% assign current_url = "" %}

            {% assign page_url_chars = page.url | split: "" %}
            <!-- page_url_chars = {{ page_url_chars | inspect }} -->

            {% for char in page_url_chars %}
                <!-- char = {{ char | inspect }} -->

                {% assign current_url = current_url | append: char %}

                {% if current_url == page.url %}
                    <li class="crumbcontainer__crumb crumbcontainer__actual-page">
                        {{ page.short_title | default: page.title }}
                    </li>
                {% else %}
                    {% for p in site.pages %}
                        {% if current_url == p.url %}
                            <li class="crumbcontainer__crumb">
                                <a href="{{ site.baseurl }}{{ p.url }}">{{ p.short_title | default: p.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>