$headerForegroundColor: #000000;
$headerBackgroundColor: cadetblue;

@use "base";

header {
  > * {
    padding: 12px;
  }

  position: sticky;

  a {
    color: $headerForegroundColor;
  }
}

#header__main-nav {
  background-color: $headerBackgroundColor;

  display: flex;
  flex-direction: row;

  a {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 20px;

    color: $headerForegroundColor;
  }
}

#header__home-link {
  font-weight: bold;
  margin-right: 20px;
}

#header__breadcrumbs {

  padding: 5px 0;
  margin: 0 10px;
  border-bottom: 1px solid darkgrey;

  display: flex;
  align-items: center;
  flex-direction: row;

  p {
    margin-block: 0;
    flex-shrink: 3;
  }

  a {
    font-family: base.$bodyFont;
  }

  .breadcrumbs__crumbcontainer {
    flex-grow: 3;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 20px;

    margin-block: 0;

    list-style-type: none;

    .crumbcontainer__crumb + .crumbcontainer__crumb::before {
      content: url("../img/right-arrow.svg");
      margin: 0 10px;
      padding: 0;
    }
  }
}