$maxWidth: 250px;
$maxHeight: 250px;

.catalogue-item {
  max-width: $maxWidth;
}

.catalogue-item__figure {
  margin: 0;

  max-width: $maxWidth;

  * {
    max-width: $maxWidth;
    max-height: $maxHeight;
  }
}

.catalogue-item__figure--caption {
  border-bottom: 1px solid darkgrey;
  padding: 5px;
}