$maxWidth: 250px;
$maxHeight: 250px;

.catalogue__item--figure {
  margin: 0;

  max-width: $maxWidth;

  * {
    max-width: $maxWidth;
    max-height: $maxHeight;
  }
}

.catalogue__item {
  max-width: $maxWidth;
}