html {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.bigger {
    font-size: 30px;
}

.slightly-bigger {
    font-size: 25px;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px;

    z-index: 2;

    background-color: cadetblue;
    font-size: 20px;
    font-family: "Georgia", "Times New Roman", serif;
}

.header table {
    border-collapse: separate;
}

.header th {
    margin-right: 20px;
}

.header td {
    margin-left: 10px;
    margin-right: 10px;
}

.body {
    margin: 0;
    padding: 20px;
}

h1 {
    font-weight: bold;
}

h1.title {
    padding: 20px 0 20px 50px;
    margin: 0;
    border-color: black;
    border-width: 0 0 thin 0;
    border-style: solid;
}

a {
    color: black;
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

.area-with-sidebar {
    position: relative;
}

.left-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    margin-right: 10px;

    padding-left: 10px;
    padding-right: 10px;
}

.with-sidebar {
    position: absolute;
    top: 0;
    margin-left: 200px;
}

/*:root {*/
/*    --sidebar-width: 150px;*/

/*    --sidebar-padding: 20px;*/

/*    !* total-sidebar-width = sidebar-width + (sidebar-padding * 2) + sidebar-item-padding *!*/
/*    --total-sidebar-width: calc(var(--sidebar-width) + (var(--sidebar-padding) * 2) + 10px);*/
/*}*/

/*.area-with-sidebar {*/
/*    display: block;*/
/*    position: relative;*/
/*}*/

/*.left-sidebar {*/

/*    z-index: 1;*/

/*    position: sticky;*/
/*    top: 30px;*/
/*    left: 0;*/
/*    height: 100%;*/

/*    padding: calc(var(--sidebar-padding) / 2) var(--sidebar-padding);*/

/*    border-right: thin solid black;*/
/*}*/

/*.left-sidebar div {*/
/*    display: block;*/

/*    !* When updating this, make sure to update the value of `--total-sidebar-width` in the `:root` selector *!*/
/*    padding: 5px;*/

/*    margin-top: calc(var(--sidebar-padding) / 2);*/
/*    margin-bottom: calc(var(--sidebar-padding) / 2);*/
/*}*/

/*.left-sidebar div * {*/
/*    margin: 0;*/
/*}*/

/*.with-sidebar {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    padding: 20px;*/
/*    margin-left: calc(var(--total-sidebar-width) + 1px);*/

/*    background-color: rgb(220, 255, 245);*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*}*/

/*.body {*/
/*    padding: 20px;*/
/*}*/

/*.header {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    padding: 10px !important;*/
/*    background-color: cadetblue;*/
/*    font-size: 20px;*/
/*    font-family: "Georgia", "Times New Roman", serif;*/
/*    z-index: 1;*/
/*}*/

/*h1 {*/
/*    padding: 0;*/
/*    padding-left: 50px !important;*/
/*}*/

/*header a {*/
/*    padding-right: 20px;*/
/*}*/

/*a {*/
/*    color: black;*/
/*    text-decoration-line: none;*/
/*}*/

/*a:hover {*/
/*    text-decoration-line: underline;*/
/*}*/

/*body {*/
/*    position: relative;*/
/*}*/

/*.body {*/
/*    background-color: rgb(220, 255, 245);*/
/*}*/

/*.with-sidebar {*/
/*    position: absolute;*/
/*    margin-left: 200px;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/

/*#catalogue table {*/
/*    border-collapse: separate;*/
/*    border-spacing: 20px 54px;*/
/*    table-layout: auto;*/
/*}*/

/*.catalogue-item {*/
/*    position: relative;*/
/*    padding: 0;*/
/*    border: 2px black solid;*/
/*}*/

/*.catalogue-item h3 {*/
/*    background-color: white;*/
/*    margin: 0;*/
/*    padding: 5px;*/

/*    border: 2px black solid;*/
/*    border-top: transparent;*/

/*    position: absolute;*/
/*    top: 200px;*/
/*    left: -2px;*/
/*    right: -2px;*/
/*}*/

/*#placeholder {*/
/*    font-size: 40px;*/
/*}*/

/*.left-sidebar {*/
/*    left: 0;*/
/*    margin-right: 200px;*/
/*    height: 100vh;*/
/*    overflow-y: scroll;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*}*/

/*img.float-left {*/
/*    float: left;*/
/*    margin-right: 10px;*/
/*}*/

/*li::after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

