---
layout: page
title: Catalogue
perma_id: catalogue

extra_style:
    - catalogue.css
---

<ul id="catalogue" class="flexlist">
    {% for page in site.pages %}
        {% assign page_img_folder = page.img_folder | default: page.perma_id | default: "/" %}

        {% unless page.perma_id == "catalogue" %}

            {% assign page_url_split = page.url | replace: "/", " " | strip | split: " " %}

            <!-- page.url = {{ page.url | inspect }} -->
            <!-- page_url_split = {{ page_url_split | inspect }} -->

            {% assign first_element = page_url_split | first %}
            {% if first_element == "catalogue" %}
                <li class="flexlist__item catalogue-item">
                    <a href="{{ site.baseurl }}{{ page.url }}">
                        <figure class="catalogue-item__figure">

                            {% assign img_src = "" | split: "," %}

                            {% capture page_thumbnail_img_src_emptyness %}
                                {% include is_empty.html obj=page.thumbnail.img.src %}
                            {% endcapture %}
                            {% assign page_thumbnail_img_src_emptyness = page_thumbnail_img_src_emptyness | strip %}

                            <!-- page_thumbnail_img_src_emptyness = {{ page_thumbnail_img_src_emptyness | inspect }}-->
                            {% if page_thumbnail_img_src_emptyness == "not-empty" %}
                                <!-- things hap'nin'-->
                                {% assign img_src = "/assets/img/"
                                    | append: page_img_folder
                                    | append: page.thumbnail.img.src
                                %}
                            {% endif %}

                            <!-- page.thumbnail.img.src = {{ page.thumbnail.img.src | inspect }} -->
                            <!-- img_src = {{ img_src }} -->

                            {% include image.html
                                img_src=img_src
                                img_alt=page.thumbnail.img.alt
                                img_srcset=page.thumbnail.img.srcset
                                img_width=page.thumbnail.img.width
                                img_height=page.thumbnail.img.height
                                img_sizes=page.thumbnail.img.sizes
                            %}

                            <figcaption class="catalogue-item__figure--caption">
                                {% if page.short_title %}
                                    {{- page.short_title -}}
                                {% else %}
                                    {% if page.title %}
                                        {{- page.title -}}
                                    {% endif %}
                                    Unknown
                                {% endif %}
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endif %}
        {% endunless %}
    {% endfor %}
</ul>